.recipe-card {
    width: 31%;
    min-width: 240px;
    margin: 1%;
    border: 1px solid rgba(160,160,160,.2);
    background: #fff;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.14);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.recipe-photographer{
  font-size: 10px;
  text-transform: uppercase;
  color: grey;
  text-align: center;
}
.recipe-card-content {
  padding: 16px;
}

.recipe-card-image {
  overflow: hidden;
  height: 50%;
}

.recipe-card img {
  width: 100%;
  max-height: 250px;
}

.recipe-title {
  margin: 0;
}

@media (max-width: 580px) {
  .recipe-card {
    display: block;
    justify-content: center;
  }
}
